<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="menu/companyMenu.html"></div>
<div class="container mt-5">
    <div class="job-detail">
        <h2 th:text="' Vị trí tuyển dụng: '+ ${jobDetail.jobName}">Job Name</h2>
        <p><strong>Công ty: </strong> <span th:text="${jobDetail.companyName}">Company name</span></p>
        <p><strong>Địa chỉ:</strong> <span th:text="${jobDetail.companyAddress}">Company address</span></p>

        <!-- Job Description -->
        <strong> Mô tả công việc: </strong>
        <p th:text="${jobDetail.jobDesc}">Job description</p>
        <strong>Kỹ năng yêu cầu:</strong>
        <ul>
            <li th:each="skill : ${jobDetail.jobSkills}" th:text="${skill.id.skillId.skillName} + ' - Level: ' + ${skill.skillLevel}">Skill</li>
        </ul>
        <!-- Company Information -->
        <strong>Mọi chi tiết liên hệ: </strong>
        <p><strong>Email:</strong> <span th:text="${jobDetail.companyEmail}">Company email</span></p>
        <p><strong>Số điện thoại: </strong> <span th:text="${jobDetail.companyPhone}">Company phone</span></p>
        <p><strong>Website:</strong> <a th:href="${jobDetail.companyWebsite}" target="_blank" th:text="${jobDetail.companyWebsite}">Website</a></p>

        <p th:text="'Hạn nộp hồ sơ: ' +  ${#strings.substring(jobDetail.expiredDate.toString(), 0, 10)}"></p>



        <!-- Apply Now Button -->
        <a href="#" class="btn btn-success mt-4">Ứng tuyển ngay</a>
    </div>
</div>

<!-- Optional Bootstrap JS and Popper.js (if needed for functionality like dropdowns) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>

</html>
